# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
	for rc in ~/.bashrc.d/*; do
		if [ -f "$rc" ]; then
			. "$rc"
		fi
	done
fi

unset rc
alias ghcrlogin='echo $CR_PAT | podman login ghcr.io -u {{ (bitwarden "item" "71e62611-6aac-44d1-a3aa-ad5a00151ff9").login.username }} --password-stdin'
alias flatpak-builder='flatpak run org.flatpak.Builder'
alias newalpine='. ~/Scripts/newat.sh'
alias newrider='. ~/Scripts/newrider.sh'
alias bwul='export BW_SESSION=$(bw unlock --raw)'
alias bwlog='export BW_SESSION=$(bw login {{ (bitwarden "item" "c4462cf4-4afb-47aa-84db-b33b01022857").notes  }} --raw)'
