layout {
    pane
    pane split_direction="vertical" {
        pane command="yazi"
        pane command="btop"
    }
    pane size=2 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
